h1 {
    color: rgb(235, 153, 71);
    text-shadow: 2px 2px 4px #f7e9c0;
    text-align: left;
    font-style: italic;
    display: flex;
    border: 30ps solid rgb(236, 185, 135);
    font-family: "Sofia", sans-serif;
}
.header-div {
    background-color: #f7f5ed;
    margin: auto;
    padding: 15px;
    height: 90px;
}
.logo-div {
    float: left;
}
.button-box {
    float: right;
    padding: 30px 10px 0 0;
}
.register-div {
    display: none;
    float: right;
    border: 5px solid rgb(249, 245, 220);
    height: 300px;
    width: 300px;
    margin: 20px;
    padding: 20px;
}
.login-div {
    display: none;
    float: right;
    border: 5px solid rgb(241, 239, 227);
    height: 200px;
    width: 300px;
    margin: 20px;
    padding: 20px;
}
.input-field {
    padding: 6px;
    margin: 5px;

}
.check-box {
    margin: 6px;
}
.submit-btn {
    margin: 6px;
}
.check-box {
    margin: 8px;
    background-color: #dfd0a2;
}
.submit-btn {
    margin: 6px;
    background-color: #98920f;
}
.input-field {
    padding: 5px;
    margin: 5px;
    background-color: #dfd0a2;
}
.form-box {
    background-color: rgb(187, 181, 128);
    height: 400px;
}